/* Reset de estilos */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    color: #333;
}

.container {
    width: 80%;
    margin: 0 auto;
}

/* Cabeçalho */
header {
    background-color: #2d2d2d;
    color: #fff;
    padding: 20px 0;
    text-align: center;
}

header h1 {
    margin: 0;
    font-size: 2.5rem;
}

nav {
    margin-top: 10px;
}

nav a {
    color: #fff;
    margin: 0 15px;
    text-decoration: none;
    font-weight: bold;
}

/* Seção de Apresentação */
#about {
    padding: 40px 0;
    background-color: #fff;
    text-align: center;
}

#about h2 {
    font-size: 2rem;
    margin-bottom: 20px;
}

#about p {
    font-size: 1.2rem;
}

/* Galeria de Fotos */
#gallery {
    padding: 40px 0;
    background-color: #f9f9f9;
}

#gallery h2 {
    font-size: 2rem;
    text-align: center;
    margin-bottom: 20px;
}

.gallery-container {
    display: flex;
    justify-content: center;
    gap: 15px;
}

.gallery-item {
    width: 80%;
    max-width: 400px;
    height: auto;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease-in-out;
}

.gallery-item:hover {
    transform: scale(1.05);
}

/* Seção de Contato */
#contact {
    padding: 40px 0;
    background-color: #fff;
    text-align: center;
}

#contact h2 {
    font-size: 2rem;
    margin-bottom: 20px;
}

.pix-container {
    margin-top: 20px;
}

.pix-container button {
    padding: 10px 20px;
    background-color: #ff6f61;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.pix-container button:hover {
    background-color: #e65d51;
}

#pix-key {
    font-weight: bold;
    font-size: 1.2rem;
}

/* Rodapé */
footer {
    background-color: #2d2d2d;
    color: #fff;
    text-align: center;
    padding: 20px 0;
}
